#cartNumber{
    color: white;
}

.cart-product{
    color: white;
}

#cart{
    display: none;
    position: fixed;
    z-index: 1;
}

#showCartButton{
    color: white;
    border: 0;
    left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.cart-content {
    background-color: #4c4d4c !important;
    color: #e6e5db;
    font-family: Assistant, sans-serif;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    width: auto !important; /* Could be more or less, depending on screen size */
  }

  #content-cart {

    display: none; /* Hidden by default */
  
    position: fixed; /* Stay in place */
  
    z-index: 1; /* Sit on top */
  
    left: 0;
  
    top: 0;
  
    width: 100%; /* Full width */
  
    height: 100%; /* Full height */
  
    background-color: rgb(0,0,0); /* Fallback color */
  
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
  }